* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header .icon:hover {
  color: var(--hover);
  transition: 0.3s;
  cursor: pointer;
}

:root {
  --active: #222327;
  --not-active: #aaaaaa;
  --hover: lightgreen;
  --light-hover: rgb(218, 247, 218);
  --primary-color: darkslategrey;
  --background: white;
  --star-color: #af3030;
}

h1,
h2,
h3,
h4,
h5,
h6,
dt,
a,
p,
li {
  font-family: "Oswald", sans-serif;
}
